body {
    background-color: #666666;
}

.noshow {
    display: none;
}

#network_status { float:right; margin: 2px; }
#network_delta { float: right; margin: 2px; }

#ihc_buy {
    border: pink;
    border-style: dotted;
    width: 50%;
    padding-left: 5px;
}

#ihc_buy_btn {
    margin: 10px;
}

#mech {
    border: royalblue;
    border-style: dashed;
    width: 25%;
    padding-left: 5px;
}

#mech_select {
    font-style: italic;
}